<!DOCTYPE html>
<html>
<head>
  <title>WhoSaidItFunnier</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
  <div id="head">
     <h1>Vote on your favorite caption!</h1>
  </div>
  </header>
  <% flash.each do |name, msg| %>
    <div><%= msg %></div>
  <% end %>

<%= yield %>

</body>
</html>
